#pageheader{
<<<<<<< HEAD
    height: 18%;
    width: 100%;
    background-color: none;
    border: 0;
}
#navbar{
    background-color: #A32222; #1472A5
    width: 100%;
    height: 7%;
    border-radius: 20px;
    margin - left: 0px;
    margin - right: auto;
}

#tableformat{
    font-size: large;
    align:center;
    height: 70%;
    width: 35%;
    position: absolute;
    padding:0.5%;
    top: 22%;
    left:35%;
}

.viewTable table {
    background: #f5f5f5;
    border-collapse: separate;
    box-shadow: inset 0 1px 0 #fff;
    font-size: 12px;
    line-height: 24px;
    margin: 30px auto;
    text-align: left;
    width: 800px;
}   

.viewTable th {
    background: url(http://jackrugile.com/images/misc/noise-diagonal.png), linear-gradient(#777, #444);
    border-left: 1px solid #555;
    border-right: 1px solid #777;
    border-top: 1px solid #555;
    border-bottom: 1px solid #333;
    box-shadow: inset 0 1px 0 #999;
    color: #fff;
    font-weight: bold;
    padding: 10px 15px;
    position: relative;
    text-shadow: 0 1px 0 #000;  
}

.viewTable th:after {
    background: linear-gradient(rgba(255,255,255,0), rgba(255,255,255,.08));
    content: '';
    display: block;
    height: 25%;
    left: 0;
    margin: 1px 0 0 0;
    position: absolute;
    top: 25%;
    width: 100%;
}

.viewTable th:first-child {
    border-left: 1px solid #777;    
    box-shadow: inset 1px 1px 0 #999;
}

.viewTable th:last-child {
    box-shadow: inset -1px 1px 0 #999;
}

..viewTable td {
    border-right: 1px solid #fff;
    border-left: 1px solid #e8e8e8;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #e8e8e8;
    padding: 10px 15px;
    position: relative;
    transition: all 300ms;
}

.viewTable td:first-child {
    box-shadow: inset 1px 0 0 #fff;
}   

.viewTable td:last-child {
    border-right: 1px solid #e8e8e8;
    box-shadow: inset -1px 0 0 #fff;
}   

.viewTable tr {
    background: url(http://jackrugile.com/images/misc/noise-diagonal.png);  
}

.viewTable tr:nth-child(odd) td {
    background: #f1f1f1 url(http://jackrugile.com/images/misc/noise-diagonal.png);  
}

.viewTable tr:last-of-type td {
    box-shadow: inset 0 -1px 0 #fff; 
}

.viewTable tr:last-of-type td:first-child {
    box-shadow: inset 1px -1px 0 #fff;
}   

.viewTable tr:last-of-type td:last-child {
    box-shadow: inset -1px -1px 0 #fff;
}   

.viewTable tbody:hover td {
    color: transparent;
    text-shadow: 0 0 3px #aaa;
}

.viewTable tbody:hover tr:hover td {
    color: #444;
    text-shadow: 0 1px 0 #fff;
}

.clickspot {
    text-decoration:underline;
    color:blue;
    cursor:pointer
}


#content {
    padding-top: 10px;
    width:100%;
    height: 70%;
    background-color:white;
    padding-bottom: 10px;
}

#leftdiv{
    background-color:none;
    width: 10%;
    height:100%;
    float: left;
}
#rightdiv{
    background-color:none;
    width: 10%;
    height:100%;
    float: left;
}

#middlediv{
    width:80%;
    height:100%;
    float: left;
}

#footer{
    width:100%;
    height: 5%;
    background-color:#A32222;
}

#background{
    background-color:#A32222;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
#homediv1{
    height:73%;
    width:60%;
    float:left;

    padding-top: 9em;
    text-align: center;
    color: #A32222;
    text-decoration: bold;
    align-content: center;
    background-image: url('images/img.png');
    background-size: cover;
}

#homediv2{
    height:100%;
    width:40%;
    padding-top: 100px;
    float:left;
    color: white;

}

#maindiv{
    right:0;
    left:0;
    top:0;
    bottom:0;
    background-color: white;
    width: 80%;
    height: 80%;
    position: absolute;
    vertical-align: middle;
    margin: auto;
    box-shadow: 8px 8px 8px 2px rgba(0,0,0,0.4) ;

}

.headeritem{
    cursor:hand;
    padding-right: 10px;
}

#loginbutton{
    width:240px;
    height:35px;
    display:block;
    font-size:16px;
    font-weight:bold;
    color:#fff;
    text-transform:uppercase;
    text-align:center;
    padding-top:6px;
    margin: 29px 0 0 0px;
    position:relative;
    cursor:pointer;  
    background-color: #A32222;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius:5px;
    box-shadow: inset 0px 1px 0px grey, 0px 2px 0px 0px grey, 0px 7px 5px #999;
}

.logout{
    cursor:hand;
    font-size: 19;
    color: #A32222;
    padding-top: 5em;
    padding-right: 3px;
    position: relative;
    display: inline-block;

}

.item {
    text-decoration:none;
    color:white;
    cursor:hand;
    text-align: center;
    width: 300px;
    padding: 10px;
    font-size:100%;
}

.item:hover{
    cursor:hand;
    font-weight:bold;
    background-color:none;
}

.logout:hover{
    cursor:hand;
    font-weight:bold;
    background-color:none;
}

.login {
    background: #eceeee;
    border-radius: 6px;
    height: 257px;
    margin: 20px auto 0;
    width: 298px;
}
.login h1 {
    border-bottom: 1px solid #a6abaf;
    border-radius: 6px 6px 0 0;
    box-sizing: border-box;
    color: #727678;
    display: block;
    height: 43px;
    font: 600 14px/1 'Open Sans', sans-serif;
    padding-top: 14px;
    margin: 0;
    text-align: center;
    text-shadow: 0 -1px 0 rgba(0,0,0,0.2), 0 1px 0 #fff;
}

.show-password {
    display: block;
    height: 16px;
    margin: 26px 0 0 28px;
    width: 87px;
}

.forgot {
    color: #7f7f7f;
    display: inline-block;
    float: right;
    font: 12px/1 sans-serif;
    left: -19px;
    position: relative;
    text-decoration: none;
    top: 5px;
    transition: color .4s;
}

.forgot:hover { color: #A32222}


html, body{
    height: 100%;
    width: 100%;
    margin:0;
    padding: 0;
    font-family: Verdana, arial;
}

input[type="login"]{
    border: 1px solid #a1a3a3;
    border-radius: 4px;
    box-shadow: 0 1px #fff;
    box-sizing: border-box;
    color: #696969;
    height: 39px;
    margin: 31px 0 0 0px;
    padding-left: 30px;
    transition: box-shadow 0.3s;
    width: 240px;

}
input[type="password"]{
    border: 1px solid #a1a3a3;
    border-radius: 4px;
    box-shadow: 0 1px #fff;
    box-sizing: border-box;
    color: #696969;
    height: 39px;
    margin: 31px 0 0 0px;
    padding-left: 30px;
    transition: box-shadow 0.3s;
    width: 240px;
}





input[type="text"], input[type="date"] {
    border: 1px solid #a1a3a3;
    border-radius: 4px;
    box-shadow: 0 1px #fff;
    box-sizing: border-box;
    color: #696969;
    height: 39px;
    margin: 31px 0 0 0px;
    padding-left: 30px;
    transition: box-shadow 0.3s;
    width: 440px;
}

input[type="password"]:focus, input[type="text"]:focus {
    box-shadow: 0 0 4px 1px rgba(55, 166, 155, 0.3);
    outline: 0;
}

select{
    border: 1px solid #a1a3a3;
    border-radius: 4px;
    box-shadow: 0 1px #fff;
    box-sizing: border-box;
    color: #696969;
    height: 39px;
    margin: 31px 0 0 0px;
    padding-left: 30px;
    transition: box-shadow 0.3s;
    width: 440px;
}

input[type="submit"] {
    width:140px;
    height:35px;
    display:block;
    font-size:16px;
    font-weight:bold;
    color:#fff;
    text-transform:uppercase;
    text-align:center;
    padding-top:6px;
    margin: 29px 0 0 0px;
    position:relative;
    cursor:pointer;  
    background-color: #A32222;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius:5px;
    box-shadow: inset 0px 1px 0px grey, 0px 2px 0px 0px grey, 0px 7px 5px #999;
}

input[type="submit"]:active {
    top:3px;
    box-shadow: inset 0px 1px 0px #2ab7ec, 0px 2px 0px 0px #31524d, 0px 5px 3px #999;
=======
	height: 18%;
	width: 100%;
    background-color: none;
    border: 0;
}
#navbar{
	background-color: #A32222; #1472A5
	width: 100%;
	height: 7%;
	border-radius: 20px;
	margin - left: 0px;
	margin - right: auto;
}

#tableformat{
	font-size: large;
	align:center;
	height: 70%;
	width: 35%;
	position: absolute;
	padding:0.5%;
	top: 22%;
	left:35%;
}

.viewTable table {
    background: #f5f5f5;
    border-collapse: separate;
    box-shadow: inset 0 1px 0 #fff;
    font-size: 12px;
    line-height: 24px;
    margin: 30px auto;
    text-align: left;
    width: 800px;
}   

.viewTable th {
    background: url(http://jackrugile.com/images/misc/noise-diagonal.png), linear-gradient(#777, #444);
    border-left: 1px solid #555;
    border-right: 1px solid #777;
    border-top: 1px solid #555;
    border-bottom: 1px solid #333;
    box-shadow: inset 0 1px 0 #999;
    color: #fff;
  font-weight: bold;
    padding: 10px 15px;
    position: relative;
    text-shadow: 0 1px 0 #000;  
}

.viewTable th:after {
    background: linear-gradient(rgba(255,255,255,0), rgba(255,255,255,.08));
    content: '';
    display: block;
    height: 25%;
    left: 0;
    margin: 1px 0 0 0;
    position: absolute;
    top: 25%;
    width: 100%;
}

.viewTable th:first-child {
    border-left: 1px solid #777;    
    box-shadow: inset 1px 1px 0 #999;
}

.viewTable th:last-child {
    box-shadow: inset -1px 1px 0 #999;
}

.viewTable td {
    border-right: 1px solid #fff;
    border-left: 1px solid #e8e8e8;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #e8e8e8;
    padding: 10px 15px;
    position: relative;
    transition: all 300ms;
}

.viewTable td:first-child {
    box-shadow: inset 1px 0 0 #fff;
}   

.viewTable td:last-child {
    border-right: 1px solid #e8e8e8;
    box-shadow: inset -1px 0 0 #fff;
}   

.viewTable tr {
    background: url(http://jackrugile.com/images/misc/noise-diagonal.png);  
}

.viewTable tr:nth-child(odd) td {
    background: #f1f1f1 url(http://jackrugile.com/images/misc/noise-diagonal.png);  
}

.viewTable tr:last-of-type td {
    box-shadow: inset 0 -1px 0 #fff; 
}

.viewTable tr:last-of-type td:first-child {
    box-shadow: inset 1px -1px 0 #fff;
}   

.viewTable tr:last-of-type td:last-child {
    box-shadow: inset -1px -1px 0 #fff;
}   

.viewTable tbody:hover td {
    color: transparent;
    text-shadow: 0 0 3px #aaa;
}

.viewTable tbody:hover tr:hover td {
    color: #444;
    text-shadow: 0 1px 0 #fff;
}

.clickspot {
	text-decoration:underline;
	color:blue;
	cursor:pointer
}


#content {
	padding-top: 10px;
	width:100%;
	height: 70%;
	background-color:white;
	padding-bottom: 10px;
}

#leftdiv{
	background-color:none;
	width: 10%;
	height:100%;
	float: left;
}
#rightdiv{
	background-color:none;
	width: 10%;
	height:100%;
	float: left;
}

#middlediv{
	width:80%;
	height:100%;
	float: left;
}

#footer{
	width:100%;
	height: 5%;
	background-color:#A32222;
}

#background{
	background-color:#A32222;
	background-repeat: no-repeat;
	background-size: 100% 100%;
}
#homediv1{
	height:73%;
	width:60%;
	float:left;
	
	padding-top: 9em;
	text-align: center;
	color: #A32222;
	text-decoration: bold;
	align-content: center;
	background-image: url('images/img.png');
	background-size: cover;
}

#homediv2{
	height:100%;
	width:40%;
	padding-top: 100px;
	float:left;
	color: white;

}

#maindiv{
	right:0;
	left:0;
	top:0;
	bottom:0;
	background-color: white;
	width: 80%;
	height: 80%;
	position: absolute;
	vertical-align: middle;
	margin: auto;
	box-shadow: 8px 8px 8px 2px rgba(0,0,0,0.4) ;

}

.headeritem{
	cursor:hand;
	padding-right: 10px;
}

#loginbutton{
  width:240px;
  height:35px;
  display:block;
  font-size:16px;
  font-weight:bold;
  color:#fff;
  text-transform:uppercase;
  text-align:center;
  padding-top:6px;
  margin: 29px 0 0 0px;
  position:relative;
  cursor:pointer;  
  background-color: #A32222;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius:5px;
  box-shadow: inset 0px 1px 0px grey, 0px 2px 0px 0px grey, 0px 7px 5px #999;
}

.logout{
	cursor:hand;
	font-size: 19;
	color: #A32222;
	padding-top: 5em;
	padding-right: 3px;
	position: relative;
    display: inline-block;

}

.item {
	text-decoration:none;
    color:white;
	cursor:hand;
	text-align: center;
	width: 300px;
    padding: 10px;
    font-size:100%;
}

.item:hover{
	cursor:hand;
	font-weight:bold;
	background-color:none;
}

.logout:hover{
	cursor:hand;
	font-weight:bold;
	background-color:none;
}

.login {
  background: #eceeee;
  border-radius: 6px;
  height: 257px;
  margin: 20px auto 0;
  width: 298px;
}
.login h1 {
  border-bottom: 1px solid #a6abaf;
  border-radius: 6px 6px 0 0;
  box-sizing: border-box;
  color: #727678;
  display: block;
  height: 43px;
  font: 600 14px/1 'Open Sans', sans-serif;
  padding-top: 14px;
  margin: 0;
  text-align: center;
  text-shadow: 0 -1px 0 rgba(0,0,0,0.2), 0 1px 0 #fff;
}

.show-password {
  display: block;
  height: 16px;
  margin: 26px 0 0 28px;
  width: 87px;
}

.forgot {
  color: #7f7f7f;
  display: inline-block;
  float: right;
  font: 12px/1 sans-serif;
  left: -19px;
  position: relative;
  text-decoration: none;
  top: 5px;
  transition: color .4s;
}

.forgot:hover { color: #A32222}


html, body{
    height: 100%;
    width: 100%;
    margin:0;
    padding: 0;
    font-family: Verdana, arial;
}

input[type="login"]{
  border: 1px solid #a1a3a3;
  border-radius: 4px;
  box-shadow: 0 1px #fff;
  box-sizing: border-box;
  color: #696969;
  height: 39px;
  margin: 31px 0 0 0px;
  padding-left: 30px;
  transition: box-shadow 0.3s;
  width: 240px;

}
input[type="password"]{
  border: 1px solid #a1a3a3;
  border-radius: 4px;
  box-shadow: 0 1px #fff;
  box-sizing: border-box;
  color: #696969;
  height: 39px;
  margin: 31px 0 0 0px;
  padding-left: 30px;
  transition: box-shadow 0.3s;
  width: 240px;
}





 input[type="text"], input[type="date"] {
  border: 1px solid #a1a3a3;
  border-radius: 4px;
  box-shadow: 0 1px #fff;
  box-sizing: border-box;
  color: #696969;
  height: 39px;
  margin: 31px 0 0 0px;
  padding-left: 30px;
  transition: box-shadow 0.3s;
  width: 440px;
}

input[type="password"]:focus, input[type="text"]:focus {
  box-shadow: 0 0 4px 1px rgba(55, 166, 155, 0.3);
  outline: 0;
}

select{
  border: 1px solid #a1a3a3;
  border-radius: 4px;
  box-shadow: 0 1px #fff;
  box-sizing: border-box;
  color: #696969;
  height: 39px;
  margin: 31px 0 0 0px;
  padding-left: 30px;
  transition: box-shadow 0.3s;
  width: 440px;
}

input[type="submit"] {
  width:140px;
  height:35px;
  display:block;
  font-size:16px;
  font-weight:bold;
  color:#fff;
  
  text-align:center;
  padding-top:6px;
  margin: 29px 0 0 0px;
  position:relative;
  cursor:pointer;  
  background-color: #A32222;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius:5px;
  box-shadow: inset 0px 1px 0px grey, 0px 2px 0px 0px grey, 0px 7px 5px #999;
}

input[type="submit"]:active {
  top:3px;
  box-shadow: inset 0px 1px 0px #2ab7ec, 0px 2px 0px 0px #31524d, 0px 5px 3px #999;
}

input[type="button"]{
  width:140px;
  height:35px;
  display:block;
  font-size:16px;
  font-weight:bold;
  color:#fff;
  text-align:center;
  padding-top:6px;
  margin: 29px 0 0 0px;
  position:relative;
  cursor:pointer;
  background-color: #A32222;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius:5px;
  box-shadow: inset 0px 1px 0px grey, 0px 2px 0px 0px grey, 0px 7px 5px #999;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    /*background-color: rgb(0,0,0);  Fallback color */
    /*background-color: rgba(0,0,0,0.4);  Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
>>>>>>> version2
}
